:root {
    /* FONT */
    --text-main:"laisha";
    --text-other:"raleway";

    /* COLORS */
    --background: #FFF4F8;
    --primary: #4e5c36;
    --secondary: #FEBD54;
    --third: #fff;
    --font: #232F19;
    --error: rgb(207, 7, 7);
}