:root {
    /* FONT */
    --text-main:"laisha";
    --text-other:"raleway";

    /* COLORS */
    --background: #FFF4F8;
    --primary: #5D6F3E;
    --secondary: #FEBD54;
    --third: rgba(133, 87, 109, 0.106);
    --font: #232F19;
    --error: rgb(207, 7, 7);
}